/.cproject
/.project
/.settings
/.metadata
/RemoteSystemsTempFiles
/01.example02_so/*.so 
/01.example02_so/*.o 
/01.example02_so/.cproject
/01.example02_so/.project
/01.example02_so/.settings
/01.example_so/*.so 
/01.example_so/*.o 
/01.example_so/.cproject
/01.example_so/.project
/01.example_so/.settings
/01.main/run 
/01.main/*.o 
/01.main/.cproject
/01.main/.project
/01.main/.settings
/02.receiver/receiver 
/02.receiver/*.o 
/02.receiver/.cproject
/02.receiver/.project
/02.receiver/.settings
/02.sendor/sendor
/02.sendor/*.o
/02.sendor/.cproject
/02.sendor/.project
/02.sendor/.settings
/03.rabbitmq_single_receiver/receiver
/03.rabbitmq_single_receiver/*.o
/03.rabbitmq_single_receiver/.cproject
/03.rabbitmq_single_receiver/.project
/03.rabbitmq_single_receiver/.settings
/03.rabbitmq_single_sendor/sendor
/03.rabbitmq_single_sendor/*.o
/03.rabbitmq_single_sendor/.cproject
/03.rabbitmq_single_sendor/.project
/03.rabbitmq_single_sendor/.settings
/04.create_info/run
/04.create_info/example.txt
/04.create_info/*.o
/04.create_info/.cproject
/04.create_info/.project
/04.create_info/.settings
/04.receiver/receiver
/04.receiver/*.o
/04.receiver/.cproject
/04.receiver/.project
/04.receiver/.settings
